.Shoping_Cart_container{
    width: 70%;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.cart_title{
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}
   
.Product_cards_list{
    padding: 20px 30px;
    height: 120px;
    display: flex;
    
}
   
.Product_cards_list:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

.Product_image{
  width: 30%;
  height: 100%;
}
.image{
  height: 100%;
  width: 100%;
}
   
.Product_cart_detatil {
    padding-top: 10px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
  }
   
.Product_cart_detatil span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
.Product_cart_detatil span:first-child {
    margin-bottom: 5px;
  }
.Product_cart_detatil span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}
.P_price span{
  padding-right: 230px;
}

/* .Quantity {
    padding-top: 20px;
    margin-right: 60px;
  } */
input {
    -webkit-appearance: none;
    border: 1;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
   
.p_Button{
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
}
.Minus_btn {
    margin-bottom: 10px;
    cursor: pointer;
}
.Plus_btn {
    margin-top: 8px;
    cursor: pointer;
  }

Button:focus,
input:focus {
    outline:0;
}

.M_btnDiv{
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: 1px solid black;
  cursor: pointer;
}

label{
  width: 12%;
  text-align: center;
}